<h1>
    {{ (producto.id? 'Editar':'Nuevo') }}
    Producto:
    <b><small>{{producto.name}}</small></b>
</h1>

<form (ngSubmit)="edit()" autocomplete="off" [formGroup]="formularioProducto" >

    <div 
    fxFlex="60" 
    fxLayout="column">
        

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">
            <div fxLayout="row" fxFlex="100">
                <mat-form-field appearance="fill" fxFlex="100">
                    <mat-label>Seleccione Drogería</mat-label>
                    <input type="text"
                        placeholder="Seleccione Drogería"
                        aria-label="Droguería"
                        formControlName="drogueria"
                        matInput
                        [matAutocomplete]="autoDrogue"
                        (click)="buscandoDrogueria()"
                        (input)="buscandoDrogueria()"
                    >

                    <mat-autocomplete 
                        autoActiveFirstOption 
                        #autoDrogue="matAutocomplete"
                        (optionSelected)="opcionSeleccionadaDrogueria($event)">
                        
                        <mat-option *ngFor="let option of filteredOptionsDroguerias" [value]="option">
                            {{option.name}}
                        </mat-option>
                    
                    </mat-autocomplete>
                </mat-form-field> 
            </div>

        </div>

        <div 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutGap="30px">
            <div fxLayout="row" fxFlex="100" fxLayoutGap="30px">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label> {{ (codigoRepetido? 'Codigo ya existe, favor validar':'Código Producto') }}</mat-label>
                    <input
                        matInput
                        formControlName="codigoProducto"
                        maxlength="50"
                        type="text"
                        (blur)="validarCodigoProducto()"
                        required>
                </mat-form-field>
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label>  {{ (nombreRepetido? 'Nombre ya existe, favor validar':'Nombre') }}</mat-label>
                    <input
                        matInput
                        formControlName="nombre"
                        (ngModelChange)="producto.name = $event.toUpperCase()"
                        type="text"
                        maxlength="200"
                        (blur)="validarNombreProducto()"
                        required>
                        
                </mat-form-field>
             </div>
        </div>

       

        

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">
            <div fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="100" appearance="fill">
                    <mat-label> Descripcion</mat-label>
                    <textarea 
                        matInput 
                        formControlName="descripcion" 
                        maxlength="200" rows="4"></textarea>
                    
                </mat-form-field>

            </div>
        </div>

        <div 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutGap="20px">
                <div fxLayout="row" fxFlex="100" fxLayoutGap="20px">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de Expiración</mat-label>
                        <input matInput 
                            [matDatepicker]="picker" 
                            formControlName="fechaExpiracion"
                            type="text"
                            >
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" appearance="fill">
                        <mat-label>  Lote</mat-label>
                        <input
                            matInput
                            formControlName="lote"
                            type="text"
                            maxlength="50"
                        >
                            
                    </mat-form-field>
                </div>
        </div>

        <div 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutGap="10px" fxFlex="100">
                <div fxLayout="row">
                    <mat-form-field appearance="fill">
                        <mat-label> Inventario</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="inventario"
                            min="1"
                            required>
                    </mat-form-field>
                </div>
                <div 
                    fxLayout="row" 
                    fxLayout.xs="column" 
                    >
                        <div fxLayout="row" >
                            <mat-form-field appearance="fill">
                                <mat-label> Costo</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    formControlName="costo"
                                    min="1"
                                    required>
                            </mat-form-field>
                        </div>
                </div>
        </div>
        

       


                 
        

        

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="10px" fxFlex="100">
            <div fxLayout="row" >
                <mat-form-field appearance="fill">
                    <mat-label> Precio de Venta</mat-label>
                    <input
                        matInput
                        formControlName="precioVenta"
                        
                        type="number"
                        min="1" 
                        required>
                </mat-form-field>
            </div>
            <div fxLayout="row" >
                <mat-form-field appearance="fill">
                    <mat-label> Precio de Venta promocion</mat-label>
                    <input
                        matInput
                        formControlName="precioPromocion"
                        type="number"
                    >
                </mat-form-field>
            </div>
        </div>

       
        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">

                <mat-label> Activo</mat-label>
                <mat-slide-toggle name="valido" formControlName="valid"></mat-slide-toggle>
        </div>
        <br>
        <button type="button" mat-raised-button color="warn" (click)="edit();">
            {{ (producto.id? 'Editar':'Guardar') }}
        </button>
    </div>     
</form>