<h1>Ventas</h1>


<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="formularioVentas" >

    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
        <div fxFlex="50" fxLayout="column">
            

            <div fxLayout="row" fxLayoutGap="20px"  >

              <mat-form-field appearance="fill" >
                <mat-label>Ingrese DUI</mat-label>
                <input 
                    matInput
                    autocomplete="false"
                    #input 
                    (keyup)="buscarPaciente()"      
                    (change)="buscarPaciente()"              
                    duiMask
                    type="text"
                    maxlength="10"
                    formControlName="identificacion"
                    placeholder="DUI">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Ingrese Telefono sin guiones</mat-label>
              <input 
                  matInput 
                  (keyup)="buscarPacientePorTelefono()"      
                  #input 
                  maxlength="8"
                  formControlName="telefono"
                  placeholder="Telefono">
            </mat-form-field>
          </div>    
          <div fxLayout="row" fxLayoutGap="20px"  >
            <mat-form-field appearance="fill" fxFlex="100">
              <mat-label>Nombre Paciente</mat-label>
              <input 
                  type="text"
                  matInput 
                  #input 
                  formControlName="nombres"
                  placeholder="Nombres">
              
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="100">
              <mat-label>Apellido Paciente</mat-label>
              <input 
                  type="text"
                  matInput 
                  #input 
                  formControlName="apellidos"
                  placeholder="Apellidos">
              
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha de Servicio</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaServicio">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <div fxLayout="row" fxLayoutGap="20px"  >
                <mat-form-field appearance="fill" fxFlex="90">
                    <mat-label>Seleccione Producto</mat-label>
                    <input type="text"
                    placeholder="Seleccione Producto"
                    aria-label="Prodycto"
                    [formControl]="nuevoProducto"
                    matInput
                    [matAutocomplete]="auto"
                    (click)="buscando()"
                    (input)="buscando()"
                    >
                    <button *ngIf="nuevoProducto.value" matSuffix mat-icon-button aria-label="Clear" (click)="nuevoProducto.setValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete 
                    autoActiveFirstOption 
                    #auto="matAutocomplete"
                    (optionSelected)="opcionSeleccionada($event)">
                    
                      <mat-option *ngFor="let option of filteredOptions" [value]="option">
                      {{option.drogueriaName}} - {{option.name}} -  ${{option.sellingPrice}}
                      </mat-option>
                 
                  </mat-autocomplete>
                </mat-form-field> 
                
                <button 
                  color="accent" 
                  type="button"
                  mat-icon-button
                  (click)="agregarProducto()">
                  <mat-icon>add</mat-icon>
                 </button>
                
                
            </div>



            <div fxLayout="row" fxLayoutGap="20px"  >

                <mat-form-field appearance="fill" fxFlex="50">
                  <mat-label>% Descuento</mat-label>
                  <input 
                      type="number"
                      matInput 
                      #input 
                      formControlName="descuento"
                      maxlength="10" 
                      placeholder="% de Descuento">
                  <button type="button" *ngIf="formularioVentas.controls.descuento.value>=0"
                        matSuffix aria-label="Aplicar" mat-raised-button  color="accent"
                        (click)="aplicarDescuento()">
                        Aplicar
                  </button>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex="50">
                  <mat-label>Cantidad Descuento</mat-label>
                  <input 
                      type="number"
                      matInput 
                      #input 
                      formControlName="descuentoNumerico"
                      maxlength="10" 
                      placeholder="Cantidad Descuento">
                  <button type="button" *ngIf="formularioVentas.controls.descuentoNumerico.value>=0"
                        matSuffix aria-label="Aplicar" mat-raised-button  color="accent"
                        (click)="aplicarDescuento()">
                        Aplicar
                  </button>
                </mat-form-field>
              </div> 
              <div fxLayout="row" fxLayout.xs="column"> 
                <mat-form-field appearance="fill" fxFlex="100">
                    <mat-label>Seleccione tipo de pago</mat-label>
                    <mat-select formControlName="tipoPago">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let tipoPago of tiposPago" [value]="tipoPago">
                          {{tipoPago.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
              </div> 

              <div *ngIf="pagoCombinado" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                <div fxFlex="50" fxLayout="column">
                  <mat-form-field appearance="fill" >
                    <mat-label>Cantidad con Tarjeta</mat-label>
                    <input 
                        matInput 
                        #input 
                        (keyup)="aplicarComisionCombinado()"
                        formControlName="tarjeta"
                        placeholder="Cantidad con tarjeta">
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill" >
                    <mat-label>Cantidad con efectivo</mat-label>
                    <input 
                        matInput 
                        #input 
                        readonly
                        formControlName="efectivo"
                        placeholder="Cantidad con efectivo">
                    
                  </mat-form-field>
              </div>
            </div>
      

        </div>
        
    <div fxFlex="50" fxLayout="column">
      <mat-card class="summary-card">
          <mat-card-header>
            <mat-card-title>Resumen</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <table mat-table [dataSource]="summaryList" >
                  <!-- Item Column -->
                  <ng-container matColumnDef="Detalle">
                    <th mat-header-cell *matHeaderCellDef> Detalle</th>
                    <td mat-cell *matCellDef="let producto"> {{producto.name }} </td>
                    <td mat-footer-cell *matFooterCellDef><b> Sub Total Servicios</b></td>
                  </ng-container>
              
                  <!-- Cost Column -->
                  <ng-container matColumnDef="Costo">
                    <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
                    <td mat-cell *matCellDef="let producto"> {{producto.sellingPrice | currency}} </td>
                    <td mat-footer-cell *matFooterCellDef> <b> {{getTotalServicios() | currency}} </b> </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Acción</th>
                    <td mat-cell *matCellDef="let producto"> <button type="button" (click)="removeProducto(producto)" mat-icon-button><mat-icon>delete</mat-icon></button> </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                 
                </table>
                <br>
                
                <table mat-table  [dataSource]="totales">
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Detalle </th>
                    <td mat-cell *matCellDef="let element"> <b>{{element.title}} </b></td>
                  </ng-container>
                
                  
                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> <b> {{element.value | currency}} </b></td>
                  </ng-container>

                 
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTotals;"></tr>
                </table>

          </mat-card-content>

          <mat-card-actions align="end">
            
            <button type="submit" mat-raised-button color="accent">Guardar</button>
            <button type="button" mat-raised-button color="warn" (click)="resetAll();">Reset</button>
          </mat-card-actions>
        </mat-card>
    </div>  
  </div>


</form>

<br>

<!-- <pre>
  {{this.income | json}}
</pre> -->