<h1>
    {{ (servicioMedico.id? 'Editar':'Nuevo') }}
    servicio:
    <b><small>{{servicioMedico.description}}</small></b>
</h1>

<div 
    fxLayout="row" 
    fxLayoutGap="40px"  
    fxLayout.xs="column" >

    <div 
    fxFlex="60" 
    fxLayout="column">
        
        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">
            <div fxLayout="row" fxFlex="100">
                <mat-form-field appearance="fill" fxFlex="100">
                    <mat-label>Seleccione Categoria del Servicio</mat-label>
                    <input type="text"
                    placeholder="Seleccione Categoria de Servicio"
                    aria-label="Cat. Servicio"
                    [formControl]="categoriaServicio"
                    matInput
                    [matAutocomplete]="auto"
                    (click)="buscando()"
                    (input)="buscando()"
                    >

                    <mat-autocomplete 
                    autoActiveFirstOption 
                    #auto="matAutocomplete"
                    (optionSelected)="opcionSeleccionada($event)">
                    
                    <mat-option *ngFor="let option of filteredOptions" [value]="option">
                        {{option.name}}
                    </mat-option>
                
                </mat-autocomplete>
                </mat-form-field> 
            </div>

        </div>

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">

            <mat-form-field fxFlex="100">
                <mat-label> Nombre</mat-label>
                <input
                    matInput
                    [(ngModel)]="servicioMedico.description"
                    type="text"
                    required>
            </mat-form-field>

        </div>

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label> Costo</mat-label>
                <input
                    matInput
                    [(ngModel)]="servicioMedico.cost"
                    type="text"
                    required>
            </mat-form-field>
        </div>

        <div 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="20px">
                <mat-label> Activo</mat-label>
                <mat-slide-toggle name="valido" required="true" [(ngModel)]="servicioMedico.valid"></mat-slide-toggle>
        </div>
        <br>
        <button type="button" mat-raised-button color="warn" (click)="edit();">
            {{ (servicioMedico.id? 'Editar':'Guardar') }}
        </button>
        

</div>    


<!-- <br>
 <div class="row">
  <div class="col">
      <span>Servicio Médico</span>
      <pre>
          {{servicioMedico | json}}
      </pre>
      

  </div>
</div>  -->