<mat-card  class="summary-card-totals ">
  <mat-card-header >
    <mat-card-title>Resumen de Ingresos</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <div fxFlex="50" fxLayout="column">
        
        <span><b>Diario</b></span>
       </div> 
       <div fxFlex="50" fxLayout="column">
       <b> <mat-icon color="accent">trending_up</mat-icon> {{(resumenDiario==null?0.0:resumenDiario) | currency}}</b>
      </div>
    </div> 
    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <div fxFlex="50" fxLayout="column">
        
        <span><b>Mensual</b></span>
       </div> 
       <div fxFlex="50" fxLayout="column">
        <b><mat-icon color="accent">trending_up</mat-icon> {{(resumenMensual==null?0.0:resumenMensual) | currency}}</b>
      </div>
    </div>
    
  </mat-card-content>
</mat-card>





<br>

<h1>Registro de Ingresos</h1>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="formularioIngresos" >
  <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <div fxFlex="50" fxLayout="column">

              <mat-form-field appearance="fill" >
                <mat-label>Ingrese DUI</mat-label>
                <input 
                    matInput
                    #input 
                    (keyup)="buscarPaciente()"
                    duiMask
                    type="text"
                    maxlength="10"
                    formControlName="identificacion"
                    placeholder="DUI">
            </mat-form-field>
              <mat-form-field appearance="fill" >
                  <mat-label>Ingrese Nombres</mat-label>
                  <input 
                      matInput 
                      #input 
                      formControlName="nombres"
                      placeholder="Nombres">
                  
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Ingrese Apellidos</mat-label>
                  <input 
                      matInput 
                      #input 
                      formControlName="apellidos"
                      placeholder="Apellidos">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Ingrese Telefono sin guiones</mat-label>
                <input 
                    matInput 
                    #input 
                    maxlength="8"
                    formControlName="telefono"
                    placeholder="Telefono">
            </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Fecha de Servicio</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaServicio">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <!-- Seccion de Servicios Promos-->
              <div fxLayout="row" fxLayoutGap="20px" *ngIf="serviciosPromo.length > 0" >
                <mat-form-field appearance="fill" fxFlex="90">
                    <mat-label>Seleccione Promocion</mat-label>
                    <input type="text"
                    placeholder="Seleccione Promocion"
                    aria-label="Promocion"
                    [formControl]="nuevoServicioPromo"
                    matInput
                    [matAutocomplete]="autoPromo"
                    (click)="buscandoPromo()"
                    (input)="buscandoPromo()"
                    >

                    <mat-autocomplete 
                    autoActiveFirstOption 
                    #autoPromo="matAutocomplete"
                    (optionSelected)="opcionSeleccionadaPromo($event)">
                    
                      <mat-option *ngFor="let option of filteredOptionsPromos" [value]="option">
                        {{option.description}} -  ${{option.cost}}
                      </mat-option>
                 
                  </mat-autocomplete>
                </mat-form-field> 
                <button 
                  color="accent" 
                  type="button"
                  mat-icon-button
                  (click)="agregarServicioPromo()">
                  <mat-icon>add</mat-icon>
                 </button>
              </div>

              <!-- Seccion de Servicio y Precio -->
              <div fxLayout="row" fxLayoutGap="20px"  >
                <mat-form-field appearance="fill" fxFlex="90">
                    <mat-label>Seleccione Servicio</mat-label>
                    <input type="text"
                    placeholder="Seleccione Servicio"
                    aria-label="Servicio"
                    [formControl]="nuevoServicio"
                    matInput
                    [matAutocomplete]="auto"
                    (click)="buscando()"
                    (input)="buscando()"
                    >

                    <mat-autocomplete 
                    autoActiveFirstOption 
                    #auto="matAutocomplete"
                    (optionSelected)="opcionSeleccionada($event)">
                    
                      <mat-option *ngFor="let option of filteredOptions" [value]="option">
                        {{option.description}} -  ${{option.cost}}
                      </mat-option>
                 
                  </mat-autocomplete>
                </mat-form-field> 
                
                <button 
                  color="accent" 
                  type="button"
                  mat-icon-button
                  (click)="agregarServicio()">
                  <mat-icon>add</mat-icon>
                 </button>
                
                
            </div>
            <!-- Seccion Tipo de pago y Descuento -->
            <div fxLayout="row" fxLayoutGap="20px"  >

              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>% Descuento</mat-label>
                <input 
                    type="number"
                    matInput 
                    #input 
                    formControlName="descuento"
                    maxlength="10" 
                    placeholder="Precio">
                <button type="button" *ngIf="formularioIngresos.controls.descuento.value>=0"
                      matSuffix aria-label="Aplicar" mat-raised-button  color="accent"
                      (click)="aplicarDescuento()">
                      Aplicar
                </button>
              </mat-form-field>

              
            </div> 
            <div fxLayout="row" fxLayout.xs="column">
              <mat-form-field appearance="fill" fxFlex="100">
                <mat-label>Seleccione tipo de pago</mat-label>
                <mat-select [compareWith]="compareFunction" formControlName="tipoPago">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let tipoPago of tiposPago" [value]="tipoPago">
                      {{tipoPago.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div *ngIf="pagoCombinado" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                <div fxFlex="50" fxLayout="column">
                  <mat-form-field appearance="fill" >
                    <mat-label>Cantidad con Tarjeta</mat-label>
                    <input 
                        matInput 
                        #input 
                        (keyup)="aplicarComisionCombinado()"
                        formControlName="tarjeta"
                        placeholder="Cantidad con tarjeta">
                    
                  </mat-form-field>
                  <mat-form-field appearance="fill" >
                    <mat-label>Cantidad con efectivo</mat-label>
                    <input 
                        matInput 
                        #input 
                        readonly
                        formControlName="efectivo"
                        placeholder="Cantidad con efectivo">
                    
                  </mat-form-field>
              </div>
            </div>

      </div>

      <div fxFlex="50" fxLayout="column">
          <mat-card class="summary-card">
              <mat-card-header>
                <mat-card-title>Resumen</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <table mat-table [dataSource]="summaryList" >
                      <!-- Item Column -->
                      <ng-container matColumnDef="Detalle">
                        <th mat-header-cell *matHeaderCellDef> Detalle</th>
                        <td mat-cell *matCellDef="let servicio"> {{servicio.description }} </td>
                        <td mat-footer-cell *matFooterCellDef><b> Sub Total Servicios</b></td>
                      </ng-container>
                  
                      <!-- Cost Column -->
                      <ng-container matColumnDef="Costo">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let servicio"> {{servicio.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> <b> {{getTotalServicios() | currency}} </b> </td>
                      </ng-container>

                      <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Acción</th>
                        <td mat-cell *matCellDef="let servicio"> <button type="button" (click)="removeServicio(servicio)" mat-icon-button><mat-icon>delete</mat-icon></button> </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                     
                    </table>
                    <br>
                    
                   
                   
              </mat-card-content>
              
              <table mat-table  [dataSource]="totales">
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Detalle </th>
                  <td mat-cell *matCellDef="let element"> <b>{{element.title}} </b></td>
                </ng-container>
              
                
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element"> <b> {{element.value | currency}} </b></td>
                </ng-container>

               
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTotals;"></tr>
              </table>
              <mat-card-actions>
                
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                  <br>
                <button type="submit" mat-raised-button color="accent">{{editar?'Actualizar':'Guardar'}}</button>
                <button type="button" mat-raised-button color="warn" (click)="resetAll();">Reset</button>
                </div>
                
              
              </mat-card-actions>
            </mat-card>
      </div>  
      

  </div>
</form>
<br>



<br>
<h1>Ingresos diarios</h1>


<mat-form-field appearance="fill">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Consulta" #input>
</mat-form-field>
<table class="dailyIncomeTable" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="dui">
    <th mat-header-cell *matHeaderCellDef>DUI</th>
    <td mat-cell *matCellDef="let row">{{row.patient.identification}}</td>
  </ng-container>  

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let row">{{row.patient.name}}</td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let row">{{row.patient.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef>Telefono</th>
    <td mat-cell *matCellDef="let row">{{row.patient.phone}}</td>
  </ng-container>

  <ng-container matColumnDef="sub total cliente">
    <th mat-header-cell *matHeaderCellDef>Total cancelado por Cliente</th>
    <td mat-cell *matCellDef="let row">{{row.subTotalClient| currency}}</td>
  </ng-container>

  <ng-container matColumnDef="total ingreso">
    <th mat-header-cell *matHeaderCellDef>Total ingreso</th>
    <td mat-cell *matCellDef="let row">{{row.txTotal |currency}}</td>
  </ng-container>

  <ng-container matColumnDef="tipo de pago">
    <th mat-header-cell *matHeaderCellDef>Tipo de Pago</th>
    <td mat-cell *matCellDef="let row">{{row.paymentType}}</td>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
    <td mat-cell *matCellDef="let row"> 
      <button mat-raised-button 
      (click)='editarIngeso(row.txId)'
      color="accent">
        Editar
      </button>
      &nbsp;
      <button mat-raised-button 
      (click)='mostrarServicios(row.txId,services)'
      color="accent">
        Servicios Brindados
      </button>
    </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumnsDaily"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumnsDaily;"></tr>

</table>
<mat-paginator color="primary" [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>


<ng-template #services>
  <h2 mat-dialog-title>Servicios brindados</h2>
  <mat-dialog-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let serv of serviciosOnEdit">
        <mat-icon mat-list-icon>radio_button_checked</mat-icon>
        {{serv.description}}
      </mat-list-item>
      
    </mat-list>
  </mat-dialog-content>
</ng-template>