<h1>Registro de Ingresos</h1>

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="formularioIngresos">
  <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <div fxFlex="50" fxLayout="column">
        
              <mat-form-field appearance="fill" >
                  <mat-label>Ingrese Nombres</mat-label>
                  <input 
                      matInput 
                      #input 
                      formControlName="nombres"
                      placeholder="Nombres">
                  
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Ingrese Apellidos</mat-label>
                  <input 
                      matInput 
                      #input 
                      formControlName="apellidos"
                      placeholder="Apellidos">
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>Seleccione Categoría</mat-label>
                  <mat-select 
                      formControlName="categoria"  
                      (onChange)="updateSummary()"
                      >
                      <mat-option *ngFor="let categoria of categorias" [value]="categoria" >
                        {{categoria.viewValue}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>Ingrese Precio</mat-label>
                  <input 
                      type="number"
                      matInput 
                      #input 
                      formControlName="precio"
                      maxlength="10" 
                      placeholder="Precio">
              </mat-form-field>
      
              <mat-form-field appearance="fill">
                  <mat-label>Seleccione tipo de pago</mat-label>
                  <mat-select formControlName="tipoPago">
                      <mat-option *ngFor="let tipoPago of tiposPago" [value]="tipoPago.value">
                        {{tipoPago.viewValue}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" >
                <mat-label>% Descuento</mat-label>
                <input 
                    type="text"
                    matInput 
                    #input 
                    formControlName="descuento"
                    maxlength="10" 
                    placeholder="Precio">
                <button type="button" *ngIf="formularioIngresos.controls.descuento.value"
                      matSuffix mat-icon-button color="warn"
                      (click)="aplicarDescuento()">Aplicar</button>
            </mat-form-field>

      </div>

      <div fxFlex="50" fxLayout="column">
          <mat-card class="summary-card">
              <mat-card-header>
                <mat-card-title>Resumen</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <table mat-table [dataSource]="transactions" >
                      <!-- Item Column -->
                      <ng-container matColumnDef="Detalle">
                        <th mat-header-cell *matHeaderCellDef> Detalle</th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                      </ng-container>
                  
                      <!-- Cost Column -->
                      <ng-container matColumnDef="Costo">
                        <th mat-header-cell *matHeaderCellDef> Costo </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>

                    
                    
              </mat-card-content>
              <mat-card-actions>
                
                <button type="submit" mat-raised-button color="accent">Guardar</button>
                <button mat-raised-button color="primary">Reset</button>
              </mat-card-actions>
            </mat-card>
      </div>  
      

  </div>
</form>

<br>
<div class="row">
  <div class="col">
      <span>Valid</span>
      <pre>
          {{formularioIngresos.valid}}
      </pre>
      <span>Value</span>
      <pre>
          {{formularioIngresos.value | json}}
      </pre>

      <span>Value</span>
      <pre>
          {{ transactions  | json}}
      </pre>

  </div>
</div> 

